<!-- Banner -->
<div class="container-fluid ">
  <div class="row side-padding hero-bg align-items-center">
    <div class="col">
      <h1 class="mb-5">Building And Deploying 
        For The Future - About Us</h1>

    </div>
  </div>
</div>

<!-- Our Approach -->
<div class="container-fluid d-flex-2 align-items-center" style="background: #FFFF; height: 1365px;" >
  <div class="row side-padding">
    <div class="col-md-6 d-flex justify-content-center flex-column">
      <h2 class="mb-4">Our Approach</h2>
        <p class="mb-1">We employ technology to organize, find, evaluate, and manage projects. We collaborate with government, international and multilateral agencies, foundations, business companies, and NGOs to evaluate performance, create M&E Technology, plan capacity building, and carry out assessments.
        </p>
        </div>
        <div class="col-md-6 d-flex align-items-start">
          <img src="../../../assets/images/our approach.png" alt="">
        </div>

        <!-- Our Culture -->
        <div class="col-md-6 d-flex align-items-start pt-5">
          <div class="pt-4"><img src="../../../assets/images/our culture.png" alt=""></div>
        </div>
        <div class="col-md-6 d-flex justify-content-center flex-column">
          <h2 class="mb-4 m-5">Our Culture</h2>
          <span class="d-inline-block px-4"><ul>
                <li class="mb-2"><img src="../../../assets/icons/Vector check.svg" alt=""><span class="d-inline-block px-2"></span>Perfomance: We deliver outstanding results</li>
                <li class="mb-2"><img src="../../../assets/icons/Vector check.svg" alt=""><span class="d-inline-block px-2"></span>Ownership: We deliver outstanding results</li>
                <li class="mb-2"><img src="../../../assets/icons/Vector check.svg" alt=""><span class="d-inline-block px-2"></span>People: our people are our greatest assets</li>
                <li class="mb-2"><img src="../../../assets/icons/Vector check.svg" alt=""><span class="d-inline-block px-2"></span>Teamwork: We are fluent in collaboration</li>
              </ul>
            </span>
            </div>
            </div>
            </div>

            <!-- Our Story -->
<div class="container-fluid d-flex-2 align-items-center">
  <div class="row">
   <div class="col-5 d-flex align-items-start m-5 p-5">
    <span class="d-inline-block px-4"></span><img src="../../../assets/images/our story.png" alt="" style="height: 390px;">
   </div>
   <div class="col-5 d-flex justify-content-center flex-column m-5 p-4">
   <h2 class="mb-2">Our Story</h2>
    <h3 class="mb-4" style="font-weight: 600;">Innovative. Inclusive. Peerless</h3>
    <p class="p mb-4" style="width: 620px;">Natview Technology is global ICT management consulting and technology services and business process optimization company. We help organizations assess how to maximize their performance and work with them to achieve their vision. 
      We develop and implement technology to improve our clients’ productivity and efficiency. Ultimately, we enable our clients to become high-performance businesses and government agencies</p>
    </div>
  </div>
</div>

<!-- Our Team -->
<div class="container-fluid-3" style="background-color: #FFFFFF; height: 1950px;">
  <div class="row side-padding d-flex pt-5">
    <h2 class="m-4 mt-5 pt-5">Meet our
      Management Team</h2>
      
      <div class="row justify-content-between m-2 pt-5">

        <div class="col-4 pt-4">
          <img src="../../../assets/images/mg team1.png" alt="" class="pt-3 mb-3">
          <h4>James Banner</h4>
          <p class="p-1">Chief Executive Officer</p>
        </div>
          
        <div class="col-4 pt-4">
          <img src="../../../assets/images/mg team2.png" alt="" class="pt-5 mb-3">
          <h4>James Banner</h4>
          <p class="p-1">Chief Executive Officer</p>
        </div>
          
        <div class="col-4 pt-4">
          <img src="../../../assets/images/mg team3.png" alt="" class="pt-3 mb-3">
          <h4>James Banner</h4>
          <p class="p-1">Chief Executive Officer</p>
        </div>
      </div>
      <div class="row justify-content-between m-2 pt-5">

        <div class="col-4 pt-4">
          <img src="../../../assets/images/mg team4.png" alt="" class="pt-3 mb-3">
          <h4>James Banner</h4>
          <p class="p-1">Chief Executive Officer</p>
        </div>
          
        <div class="col-4 pt-4">
          <img src="../../../assets/images/mg team5.png" alt="" class="pt-5 mb-3">
          <h4>James Banner</h4>
          <p class="p-1">Chief Executive Officer</p>
        </div>
          
        <div class="col-4 pt-4">
          <img src="../../../assets/images/mg team6.png" alt="" class="pt-3 mb-3">
          <h4>James Banner</h4>
          <p class="p-1">Chief Executive Officer</p>
        </div>
      </div>
       
  </div>
</div>

<!--Last barner -->
<div class="container-fluid-4">
  <div class="row align-items-center p-4">
    <div class="col p-5 m-5">
      <span class="d-inline-block px-4">
      <h1>Our Services Are Peerless!</h1>
      <p>We are always ready to talk to you, feel free to leave us a request for Consultation. we will get back to you in no time.
        You are our top most Periority.</p>
        <button>Contact Us<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle.svg" alt="a"></button></span>
    </div>
  </div>
</div>