<!-- Barner -->
<div class="container-fluid ">
  <div class="row side-padding hero-bg align-items-center">
    <div class="col">
      <h1 class="mb-5">Building And Deploying 
        For The Future - Blog</h1>
    </div>
  </div>
</div>

<!-- Ntv text -->
<div class="container-fluid">
  <div class="row">
    <img src="../../../assets/images/case 1.png" alt="" class="px-0">
  </div>
  <div class="row" style="background-color: #FFFF; height: 41rem;">
    <div class="row justify-content-between pt-4">
      <div class="col-8 side-padding">
        <p class="pt-5">Natview Technology is global ICT management consulting and technology services 
          and business process optimization company. We help organizations assess how to maximize their performance and work with them to achieve their vision. 
          We develop and implement technology to improve our clients’ productivity and efficiency. Ultimately, we enable our clients to become high-performance businesses What’s the most urgent task you must complete today?<br>
           <br>
          Is it the project you’re dreading or something you need to send to a colleague? Make sure it goes straight to the top of your to do list. The morning is when you have the most energy and focus to complete tasks. Also, if you finish an essential piece of work first, it helps to build momentum, so you can focus on things that interest. A gentle morning ritual can also help kickstart your day. Do 30 minutes of exercise to get your circulation flowing, and eat a healthy breakfast to ensure you have the energy for the tasks ahead.</p> 
        </div>

        <!-- Categories -->
        <div class="col-3 pt-5 px-5">
        <h3>Categories</h3>
        <ul class="px-2">
          <li>Events (12)</li>
          <li>Press (18)</li>
          <li>Resources (25)</li>
          <li>Insights (9)</li>
          <li>Training (4)</li>
        </ul>
        <h4 class="pt-5">Share this post via Media</h4>
        <div class="col d-flex justify-content-between m-4 pt-5">
          <a href="#"><img src="assets/icons/linked-in-icon.svg" alt="li"></a>
    <a href="#"><img src="assets/icons/twitter-icon.svg" alt="twi"></a>
    <a href="#"><img src="assets/icons/insta-icon.svg" alt="inst"></a>
        </div>
        </div>  
        
    </div>
  </div>

  <!-- Text 1 -->
  <div class="row" style="background-color: #FFFF; height: 25rem;">
      <div class="col-8 side-padding">
        <h2 class="pt-3">Support all of your days</h2>
        <p class="pt-4">
          Is it the project you’re dreading or something you need to send to a colleague? Make sure it goes straight to the top of your to do list. The morning is when you have the most energy and focus to complete tasks. Also, if you finish an essential piece of work first, it helps to build momentum, so you can focus on things that interest. A gentle morning ritual can also help kickstart your day. Do 30 minutes of exercise to get your circulation flowing, and eat a healthy breakfast to ensure you have the energy for the tasks ahead.</p>
        </div>
    </div>

    <!-- Text 2 -->
  <div class="row" style="background-color: #FFFF; height: 26rem;">
      <div class="col-8 side-padding">
        <h2 class="pt-3">Support all of your days</h2>
        <p class="pt-5">
          Is it the project you’re dreading or something you need to send to a colleague? Make sure it goes straight to the top of your to do list. The morning is when you have the most energy and focus to complete tasks. Also, if you finish an essential piece of work first, it helps to build momentum, so you can focus on things that interest. A gentle morning ritual can also help kickstart your day. Do 30 minutes of exercise to get your circulation flowing, and eat a healthy breakfast to ensure you have the energy for the tasks ahead.</p>
        </div>
    </div>

    <!-- Text 3 -->
  <div class="row" style="background-color: #FFFF; height: 26rem;">
      <div class="col-8 side-padding">
        <h2 class="pt-3">Support all of your days</h2>
        <p class="pt-5">
          Is it the project you’re dreading or something you need to send to a colleague? Make sure it goes straight to the top of your to do list. The morning is when you have the most energy and focus to complete tasks. Also, if you finish an essential piece of work first, it helps to build momentum, so you can focus on things that interest. A gentle morning ritual can also help kickstart your day. Do 30 minutes of exercise to get your circulation flowing, and eat a healthy breakfast to ensure you have the energy for the tasks ahead.</p>
        </div>
    </div>
  </div>

  <!-- Related post -->
  <div class="row justify-content-between side-padding pt-5" style="background-color: #ffff;">
    <h2 class="rel">Related Posts</h2>
    <div class="col-3 pt-4">
      <img src="../../../assets/images/navigating-3.png" alt="" class="pt-3 mb-3">
      <h4 class="nav">Navigating remote...</h4>
      <p class="date pt-3">April 4, 2022</p>
    </div>
      
    <div class="col-3 pt-4">
      <img src="../../../assets/images/navigating-1.png" alt="" class="pt-5 mb-3">
      <h4 class="nav">Navigating remote...</h4>
      <p class="date pt-3">April 4, 2022</p>
    </div>
      
    <div class="col-3 pt-4">
      <img src="../../../assets/images/navigating-2.png" alt="" class="pt-3 mb-3">
      <h4 class="nav">Navigating remote...</h4>
      <p class="date pt-3">April 4, 2022</p>
    </div>
    <div class="col-3 pt-4">
      <img src="../../../assets/images/navigating-3.png" alt="" class="pt-3 mb-3">
      <h4 class="nav">Navigating remote...</h4>
      <p class="date pt-3">April 4, 2022</p>
    </div>
  </div>

  <!-- Last Banner -->
  <div class="container-fluid-5">
    <div class="row align-items-center p-4">
      <div class="col p-5 m-5">
        <span class="d-inline-block px-4">
        <h1>Our Services Are Peerless!</h1>
        <p>We are always ready to talk to you, feel free to leave us a request for Consultation. we will get back to you in no time.
          You are our top most Periority.</p>
          <button>Contact Us<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle.svg" alt="a"></button></span>
      </div>
    </div>
  </div>