<!-- Banner -->
<div class="container-fluid ">
  <div class="row side-padding hero-bg align-items-center">
    <div class="col">
      <h1 class="mb-5">Building And Deploying 
        For The Future - Blog</h1>
    </div>
  </div>
</div>

<!-- African dev -->
<div class="container-fluid d-flex align-items-center" style="background: #FFFF; height: 700px;" >
  <div class="row side-padding">
    <div class="col-md-6 d-flex justify-content-center flex-column pt-5">
      <h4 class="p-2 pt-5">April 4, 2022</h4>
      <h2 class="p-2 pt-3">How African developers are  building a world class...</h2>
      <p class="p-2">We help our clients improve performance and achieve results, our goal is to improve current and future management of outputs, outcomes and impact by collecting, storing, analyzing and ultimately transforming data into strategic information so it can be used to make informed decisions for program management and improvement, policy formulation and advocacy.</p>
      <button class="btn p-2" [routerLink]="['/blog', 'post']"><h5 style="font-size: 26px;">See More<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle (1).svg" alt="a"></h5></button>
    </div>
    <div class="col-md-6 pt-5">
      <img src="../../../assets/images/Blog-img.png" alt="" class="img px-3 pt-4">
     
    </div>
  </div>
</div>

<!-- Nav remote -->
<div class="container-fluid-2 d-flex align-items-center" style="background: #FFFF; height: 750px;" >
  <div class="row side-padding">
    <div class="col-md-6 px-4">
      <img src="../../../assets/images/Blog-img.png" alt="" class="img">  
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column pt-5 px-4">
      <h4 class="p-2 pt-5">April 4, 2022</h4>
      <h2 class="p-1">Navigating Remote Work Culture</h2>
      <p class="p-2">We help our clients improve performance and achieve results, our goal is to improve current and future management of outputs, outcomes and impact by collecting, storing, analyzing and ultimately transforming data into strategic information so it can be used to make informed decisions for program management and improvement, policy formulation and advocacy.</p>
      <button class="btn p-2" [routerLink]="['/blog', 'post']"><h5 style="font-size: 26px;">See More<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle (1).svg" alt="a"></h5></button>
    </div>
  </div>
</div>

<!-- New year -->
<div class="container-fluid-3 d-flex align-items-center" style="height: 700px;" >
  <div class="row side-padding">
    <div class="col-md-6 d-flex justify-content-center flex-column pt-5">
      <h4 class="p-2 pt-5">April 4, 2022</h4>
      <h2 class="p-2 pt-3">New Year, New Skills:<br> Natview and Educative</h2>
      <p class="p-2">We help our clients improve performance and achieve results, our goal is to improve current and future management of outputs, outcomes and impact by collecting, storing, analyzing and ultimately transforming data into strategic information so it can be used to make informed decisions for program management and improvement, policy formulation and advocacy.</p>
      <button class="btn p-2" [routerLink]="['/blog', 'post']"><h5 style="font-size: 26px;">See More<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle (1).svg" alt="a"></h5></button>
    </div>
    <div class="col-md-6 pt-5">
      <img src="../../../assets/images/Blog-img.png" alt="" class="img px-3 pt-4">
     
    </div>
  </div>
</div>

<!-- How to ace -->
<div class="container-fluid-4 d-flex align-items-center" style="height: 750px;" >
  <div class="row side-padding">
    <div class="col-md-6 px-4">
      <img src="../../../assets/images/Blog-img.png" alt="s" class="img">  
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column pt-5 px-4">
      <h4 class="p-2 pt-5">April 4, 2022</h4>
      <h2 class="p-1">How to ace a remote technical interview</h2>
      <p class="p-2">We help our clients improve performance and achieve results, our goal is to improve current and future management of outputs, outcomes and impact by collecting, storing, analyzing and ultimately transforming data into strategic information so it can be used to make informed decisions for program management and improvement, policy formulation and advocacy.</p>
      <button class="btn p-2" [routerLink]="['/blog', 'post']"><h5 style="font-size: 26px;">See More<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle (1).svg" alt="a"></h5></button>
    </div>
  </div>
</div>

<!-- Last Banner -->
<div class="container-fluid-5">
  <div class="row align-items-center p-4">
    <div class="col p-5 m-5">
      <span class="d-inline-block px-4">
      <h1>Our Services Are Peerless!</h1>
      <p>We are always ready to talk to you, feel free to leave us a request for Consultation. we will get back to you in no time.
        You are our top most Periority.</p>
        <button>Contact Us<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle.svg" alt="a"></button></span>
    </div>
  </div>
</div>