<!-- banner -->
<div class="container-fluid ">
  <div class="row side-padding hero-bg align-items-center">
    <div class="col">
    <h1 class="mb-5">Building And Deploying 
      For The Future</h1>
      <button>Reach Out<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle.svg" alt="a"></button>
    </div>
  </div>
</div>

<!-- About -->
<div class="container-fluid d-flex align-items-center" style="background: #FFFF; min-height: 710px;" >
  <div class="row side-padding">
    <div class="col-md-6">
     
      <img class="img-fluid" src="../../../assets/images/Group 16.png" alt="g">
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column px-3">
      <h3 class="mb-1 p-2">About Us</h3>
      <h4 class="mb-4 p-2">Innovative Technology Solution 
        Across Different Value Chain.</h4>
        <p class="mb-4 p-2">Natview Technology is global ICT management consulting and technology services and business process optimization company. We help organizations assess how to maximize their performance and work with them to achieve their vision. 
          We develop and implement technology to improve our clients’ productivity and efficiency. Ultimately, we enable our clients to become high-performance businesses and government agencies</p>
          <button class="btn p-3"><h5 style="font-size: 28px;">See More<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle (1).svg" alt="a"></h5></button>
    </div>
  </div>
</div>

<!-- second banner -->
<div class="container-fluid-2">
  <div class="row">
    <div class="col p-5 m-5">
      <p><span class="d-inline-block px-5">We Have A Vast Portfolio</span></p>
      <ul class="p-4 m-4">
        <li class="mb-5">Perfomance Management System<span class="d-inline-block px-3"></span><img src="../../../assets/icons/ARROW.svg" alt="a"></li>
        <li class="mb-5">Kaduna Eyes And Ears<span class="d-inline-block px-3"></span> <img src="../../../assets/icons/ARROW.svg" alt="a"></li>
        <li class="mb-5">Perfomance Management System<span class="d-inline-block px-3"></span> <img src="../../../assets/icons/ARROW.svg" alt="a"></li>
        <li class="mb-5">Fasaha 4.0<span class="d-inline-block px-3"></span> <img src="../../../assets/icons/ARROW.svg" alt="a"></li>      
        <li class="mb-5">Perfomance Management System<span class="d-inline-block px-3"></span> <img src="../../../assets/icons/ARROW.svg" alt="a"></li>
        <li>Kaduna Eyes And Ears<span class="d-inline-block px-3"></span> <img src="../../../assets/icons/ARROW.svg" alt="a"></li>
      </ul>     
    </div>
  </div>
</div>

<!-- Brands -->
<div class="container-fluid-3">
  <div class="row">
    <div class="col p-5 m-5">
      <h1 class="mb-5"><span class="d-inline-block px-5">Brands that trust our work and<br> 
        have seen our uniqueness..</span></h1>
      <span class="d-inline-block px-3"><img src="../../../assets/icons/bill-gate logo.svg" alt="b">
      <img src="../../../assets/icons/image 11.svg" alt="b">
      <img src="../../../assets/icons/The-World-Bank-Logo (1) 2.svg" alt="b">
      <img src="../../../assets/icons/equals logo.svg" alt="b">
      <img src="../../../assets/icons/Rockfeller-logo 1.svg" alt="b"></span>
      
      <!-- Explain container -->
      <div class="container-md-3 m-5" style="background-color: #ffff; height: 451px;">
        <div class="row">
          <div class="col-md-1 m-5">
            <img src="../../../assets/icons/bill-gate logo.svg" alt="b" style="width: 230px;">
          </div>
          <div class="col-md-6 p-4 align-items-center">
        <p class="m-5"><span class="d-inline-block px-5">“Explain and promote decentralized governance technologies at a local events, hackathons, and meetups. Elected committee that facilitates strategic.”</span></p>
        <h3 class="m-5"><span class="d-inline-block px-5">Amanda Serr, VP Marketing</span></h3>
        <h5 class="m-5"><span class="d-inline-block px-5">04/06</span></h5>
        
        <!--<img src="../../../assets/icons/Vector.svg" alt="v">
        <div class="row-sm"> 
          <img src="../../../assets/icons/Vector.svg" alt="v">
          <img src="../../../assets/icons/Vector2.svg" alt="v">
        </div>-->
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Last banner -->
<div class="container-fluid-4">
  <div class="row align-items-center p-5 m-4">
    <div class="col p-5 m-4">
      <h1>Our Services Are Peerless!</h1>
      <p>We are always ready to talk to you, feel free to leave us a request for Consultation. we will get back to you in no time.
        You are our top most Periority.</p>
        <button>Contact Us<span class="d-inline-block px-3"></span><img src="../../../assets/icons/Arrows in circle.svg" alt="a"></button>
    </div>
  </div>
</div>