<!-- Banner img -->
<div class="container-fluid">
  <div class="row">
    <img src="../../../assets/images/case 1.png" alt="" class="px-0">
  </div>
  <div class="row" style="background-color: #FFFF; height: 330px;">
    <div class="row justify-content-between">
      <div class="col-3 d-flex justify-content-center">
        <h5 class="p-5">Case Study</h5>
      </div>
      <div class="col-6 d-flex justify-content-end pt-5">
        <h5>April 4, 2022</h5>
      </div>
      <div class="col-10 d-flex justify-content-center px-5">
        <h2 class="px-5 m-4 mb-5">Fasaha 4.0 <br>
          Digital skill development for women</h2>
      </div>
    </div>
    
  </div>
</div>

<!-- Brands -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-5 m-5">
      <h6 class="mb-5"><span class="d-inline-block px-4">Sponsored by:</span></h6>
      <span class="d-inline-block px-4"><img src="../../../assets/icons/bill-gate logo.svg" alt="b">
      <img src="../../../assets/icons/image 11.svg" alt="b" class="px-4">
      <img src="../../../assets/icons/The-World-Bank-Logo (1) 2.svg" alt="b" class="px-5">
      <img src="../../../assets/icons/equals logo.svg" alt="b" class="px-4">
      <img src="../../../assets/icons/Rockfeller-logo 1.svg" alt="b" class="px-4"></span>
    </div>
  </div>
</div>

<!-- Intro. -->
<div class="container-fluid-2" style="height: 432rem; background-color: #FFFF;">
  <div class="row side-padding">
    <div class="col d-flex justify-content-center m-5 pt-5">
      <img src="../../../assets/images/join-hands.png" alt="j">
    </div>
     <div class="col justify-content-center px-5 m-3">
      <span class="d-inline-block px-5">
      <h2 class="px-5">Introduction</h2>
  <p class="px-5">Nigeria’s Kaduna State has created a GovTech-enabled citizen engagement program designed to make government investment
    more responsive to citizens. This program provides a homegrown mobile phone app, and low-tech strategies such as town hall
    meetings and radio shows, to crowdsource some aspects of project monitoring. Early results suggest that mainstreaming this
    citizen engagement in government operations, rather than engaging citizens in an ad hoc manner, may be key to improving
    project outcomes.<br>
    Kaduna State contains the former administrative capital of Northern Nigeria, was once a thriving industrial region, and is strategically located on the Lagos-Kano corridor. The state government believes that Kaduna can be a driver of growth in the region and
    have a demonstration effect for other states in Northern Nigeria. But to do this, it must significantly improve service delivery quality
    and access. To this end, the government undertook steps to improve public investment management through an effort that:<br>
    • Enables local accountability to citizens through a citizen-generated data stream as part of “Eyes and Ears” initiative to inform
    decision making.<br>
    • Increases the effectiveness of public spending.<br>
    • Links citizen engagement with official government monitoring activities to create a more holistic picture of project status
    and results.</p>
  </span>
     </div>
    <div class="col d-flex justify-content-center m-5 pt-5">
      <img src="../../../assets/images/join-hands.png" alt="j">
    </div>

    <!-- Prob. -->
     <div class="col justify-content-center px-5 m-3">
      <span class="d-inline-block px-5">
      <h2 class="px-5">Problems and Objectives</h2>
  <p class="px-5">Nigeria’s Kaduna State has created a GovTech-enabled citizen engagement program designed to make government investment
    more responsive to citizens. This program provides a homegrown mobile phone app, and low-tech strategies such as town hall
    meetings and radio shows, to crowdsource some aspects of project monitoring. Early results suggest that mainstreaming this
    citizen engagement in government operations, rather than engaging citizens in an ad hoc manner, may be key to improving
    project outcomes.<br>
    Kaduna State contains the former administrative capital of Northern Nigeria, was once a thriving industrial region, and is strategically located on the Lagos-Kano corridor. The state government believes that Kaduna can be a driver of growth in the region and
    have a demonstration effect for other states in Northern Nigeria. But to do this, it must significantly improve service delivery quality
    and access. To this end, the government undertook steps to improve public investment management through an effort that:<br>
    • Enables local accountability to citizens through a citizen-generated data stream as part of “Eyes and Ears” initiative to inform
    decision making.<br>
    • Increases the effectiveness of public spending.<br>
    • Links citizen engagement with official government monitoring activities to create a more holistic picture of project status
    and results.</p>
  </span>
     </div>

     <!-- Sol. -->
    <div class="col d-flex justify-content-center m-5 pt-5">
      <img src="../../../assets/images/join-hands.png" alt="j">
    </div>
     <div class="col justify-content-center px-5 m-3">
      <span class="d-inline-block px-5">
      <h2 class="px-5">Solutions and Approaches</h2>
  <p class="px-5">Nigeria’s Kaduna State has created a GovTech-enabled citizen engagement program designed to make government investment
    more responsive to citizens. This program provides a homegrown mobile phone app, and low-tech strategies such as town hall
    meetings and radio shows, to crowdsource some aspects of project monitoring. Early results suggest that mainstreaming this
    citizen engagement in government operations, rather than engaging citizens in an ad hoc manner, may be key to improving
    project outcomes.<br>
    Kaduna State contains the former administrative capital of Northern Nigeria, was once a thriving industrial region, and is strategically located on the Lagos-Kano corridor. The state government believes that Kaduna can be a driver of growth in the region and
    have a demonstration effect for other states in Northern Nigeria. But to do this, it must significantly improve service delivery quality
    and access. To this end, the government undertook steps to improve public investment management through an effort that:<br>
    • Enables local accountability to citizens through a citizen-generated data stream as part of “Eyes and Ears” initiative to inform
    decision making.<br>
    • Increases the effectiveness of public spending.<br>
    • Links citizen engagement with official government monitoring activities to create a more holistic picture of project status
    and results.</p>
  </span>
     </div>

     <!-- Result -->
    <div class="col d-flex justify-content-center m-5 pt-5">
      <img src="../../../assets/images/join-hands.png" alt="j">
    </div>
     <div class="col justify-content-center px-5 m-3">
      <span class="d-inline-block px-5">
      <h2 class="px-5">Results</h2>
  <p class="px-5">Nigeria’s Kaduna State has created a GovTech-enabled citizen engagement program designed to make government investment
    more responsive to citizens. This program provides a homegrown mobile phone app, and low-tech strategies such as town hall
    meetings and radio shows, to crowdsource some aspects of project monitoring. Early results suggest that mainstreaming this
    citizen engagement in government operations, rather than engaging citizens in an ad hoc manner, may be key to improving
    project outcomes.<br>
    Kaduna State contains the former administrative capital of Northern Nigeria, was once a thriving industrial region, and is strategically located on the Lagos-Kano corridor. The state government believes that Kaduna can be a driver of growth in the region and
    have a demonstration effect for other states in Northern Nigeria. But to do this, it must significantly improve service delivery quality
    and access. To this end, the government undertook steps to improve public investment management through an effort that:<br>
    • Enables local accountability to citizens through a citizen-generated data stream as part of “Eyes and Ears” initiative to inform
    decision making.<br>
    • Increases the effectiveness of public spending.<br>
    • Links citizen engagement with official government monitoring activities to create a more holistic picture of project status
    and results.</p>
  </span>
     </div>

     <!-- Lesson -->
     <div class="col justify-content-center px-5 m-5">
      <span class="d-inline-block px-3">
      <h2 class="px-5">Lessons Learned</h2>
  <p class="px-5">Nigeria’s Kaduna State has created a GovTech-enabled citizen engagement program designed to make government investment
    more responsive to citizens. This program provides a homegrown mobile phone app, and low-tech strategies such as town hall
    meetings and radio shows, to crowdsource some aspects of project monitoring. Early results suggest that mainstreaming this
    citizen engagement in government operations, rather than engaging citizens in an ad hoc manner, may be key to improving
    project outcomes.<br>
    Kaduna State contains the former administrative capital of Northern Nigeria, was once a thriving industrial region, and is strategically located on the Lagos-Kano corridor. The state government believes that Kaduna can be a driver of growth in the region and
    have a demonstration effect for other states in Northern Nigeria. But to do this, it must significantly improve service delivery quality
    and access. To this end, the government undertook steps to improve public investment management through an effort that:<br>
    • Enables local accountability to citizens through a citizen-generated data stream as part of “Eyes and Ears” initiative to inform
    decision making.<br>
    • Increases the effectiveness of public spending.<br>
    • Links citizen engagement with official government monitoring activities to create a more holistic picture of project status
    and results.</p>
  </span>
     </div>
  </div>
</div>