<nav class="navbar navbar-expand-lg bg-light p-5">
  <div class="container-fluid">
    <img src="../../../assets/icons/Natview-logo.svg" alt="l" class="ntv-logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        <a class="nav-link" routerLink="services" routerLinkActive="active-link">Services</a>
        <a class="nav-link" routerLink="portfolio" routerLinkActive="active-link">Portfolio</a>
        <a class="nav-link" routerLink="blog" routerLinkActive="active-link">Blog</a>
        <div class="social">
        <a href="#"><img src="assets/icons/linked-in-icon.svg" alt="li"></a>
        <a href="#"><img src="assets/icons/twitter-icon.svg" alt="twi"></a>
        <a href="#"><img src="assets/icons/insta-icon.svg" alt="inst"></a>
      </div>
      </div>
    </div>
  </div>
</nav>
